---
import { getImage } from "astro:assets";
import bg1 from "../../assets/images/Header/header-1.webp";
import bg2 from "../../assets/images/Header/header-2.webp";
import bg3 from "../../assets/images/Header/header-3.webp";
import FeaturedTours from "../../features/home/components/FeaturedTours.astro";
import HomeHero from "../../features/home/components/HomeHero.vue";
import HomeStats from "../../features/home/components/HomeStats.astro";
import ServicesSection from "../../features/home/components/ServicesSection.astro";
import TestimonialsSection from "../../features/home/components/TestimonialsSection.astro";
import VideoSection from "../../features/home/components/VideoSection.vue";
import { useTranslations } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";

const locale = Astro.currentLocale || "en";
const t = useTranslations(locale);

const title = t("home.meta.title");
const description = t("home.meta.description");
const optBg1 = await getImage({ src: bg1, format: "webp" });
const optBg2 = await getImage({ src: bg2, format: "webp" });
const optBg3 = await getImage({ src: bg3, format: "webp" });
const heroImages = [optBg1.src, optBg2.src, optBg3.src];
---

<Layout
  description={description}
  title={title}
>
  <HomeHero
    client:load
    images={heroImages}
  />
  <div class="text-zinc-900">
    <HomeStats />
    <FeaturedTours />
    <ServicesSection />
    <TestimonialsSection />
    <VideoSection
      client:visible
      fallbackImage={heroImages[0] ?? ""}
    />
  </div>
</Layout>
